{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}
{% block stylesheets %}
	<style>
		div.dataTables_wrapper div.dataTables_filter input {
			width: 110px !important;
		}

		@media (max-width: 415px) {
			#novo-produto {
				width: 100%;
			}
		}

		#myModal .modal-body img {
			height: 100%;
			width: 100%;
		}
	</style>
{% endblock %}

{% block body %}
	<section>
		<div class="card">
			<div class="card-body">
				<div class="card-title">
					<h3 class="card-title">PRODUTOS</h3>
					<a id="novo-produto" class="btn btn-success bgn-lg ml-auto text-uppercase font-weight-bold" href="/new">Adicionar produto</a>
				</div>
				<div class="card-body">
					<table id="products" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Imagem</th>
								<th>Em estoque</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
						{%  if products %}
							{% for product in products %}
								<tr>
									<td><a href="/show/{{ product.id }}">{{ product.title }}</td>
									<td><a onclick="openModal('/uploads/images/{{ product.image }}');" href="#">Click aqui para ver!</a></td>
									<td>{{ product.stock }}</td>
									<td><a class="btn btn-warning text-white" href="/edit/{{ product.id }}">Editar</a></td>
									<td><a class="btn btn-danger text-white" href="/delete/{{ product.id }}">Delete</a></td>
								</tr>
							{%  endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<img src="" alt="">
				</div>
			</div>
		</div>
	</div>

	<script>
      function openModal(link){
          $('#myModal img').attr("src", link);
          $('#myModal').modal("show");
      }
	</script>
{% endblock %}

{% block javascripts %}
	<script>
    $(document).ready(function() {
        $('#products').DataTable( {
            "language": {
                "decimal":        "",
                "emptyTable":     "Nenhum produto disponível na tabela.",
                "info":           "Mostrando _START_ até _END_ de _TOTAL_ produtos",
                "infoEmpty":      "Sem livros disponíveis.",
                "infoFiltered":   "(de um total de _MAX_ produtos)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ produtos",
                "loadingRecords": "Carregando...",
                "processing":     "Processando...",
                "search":         "Procurar Produto:",
                "zeroRecords":    "Nenhum Produto encontrado",
                "paginate": {
                    "first":      "Prim.",
                    "last":       "Últ.",
                    "next":       "Próx.",
                    "previous":   "Ant."
                },
            },
        } );
    } );
	</script>
{% endblock %}

{#✅#}
