{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
	<h1>{{ product.title }}</h1>
	<p>{{ product.description }}</p>
	<img src="{{ product.image }}" alt="Imagem de {{ product.title }}">
	<h3>{{ product.stock }}</h3>
{% endblock %}